*{
    margin: 0px;
    padding: 0px;
    font-family:url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;600&family=Delicious+Handrawn&family=Mukta:wght@300&family=Roboto+Condensed&display=swap');
    box-sizing: border-box;
}
body{
    background-color:black;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    background-color: white;
    height: 75%;
    width: 50%;
    box-shadow: 0px 0px 10px black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box1{
    background:linear-gradient(#3CB29C, #3CB29C);
    width:35% ;
    height:100%;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#box1 div{
    width: 90%;
    height:auto ;
    text-align: center;
    color: white;
}
#box1 div h1{
    font-size: 30px;
    margin-bottom: 15px;  
}

#box1 div p{
    width: 90%;
    margin: auto;
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 25px;
}
#box1 div a{
    color: white;
    border: solid 1px white;
    text-decoration: none;
    padding: 10px 50px ;
    border-radius: 30px;
}

#box2 {
    background-color: white;
    width: 65%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#box2 h1 {
   color:#3CB29C;
   text-align: center;
   font-size: 35px;
   margin:15px 0px;

}
#icons-list{
    width: 50%;
    margin: 10px auto;
    text-align: center;

}
#icons-list span{
    display: inline-block;
    border: 2px solid rgb(195, 195, 195);
    padding: 5px;
    border-radius: 50%;
    margin: 5px;

}

#box2 p{
    text-align: center;
}
#box2 input{
    background-color: rgb(239, 239,239);
    display: block;
    width: 300px;
    height: 40px;
    margin: 10px auto;
    padding-left: 30px;
    border: none;
}

#box2 button{
    display: block;
    background-color: #3CB29C;
    padding: 15px 40px;
    margin: auto;
    border: none;
    border-radius: 25px;
    color: white;
}